
.bg-footer{
    background: #4065B6;
}

.icon-footer1 {
    font-size: 1.5rem;
    width: 30px; 
    height: 30px; 
}
.icon-footer2 {
    font-size: 1.5em;
    width: 15px; 
    height: 30px; 
}
.icon-footer3 {
    font-size: 1.5em;
    width: 15px; 
    height: 30px; 
}

.link-footer {
    color: #4065B6; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

.link-footer:hover {
    color: #6c757d; 
    text-decoration: underline; 
}

.link-footer:active {
    color: #4065B6;
}

.text-color{
    color: #4065B6;
}
